ion-content ion-toolbar {
  --background: translucent;
}

#dinnerAndActivityContainer {
  margin-left: 50%;
  margin-bottom: 50%;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

activity-container {
  margin-bottom: 100px;
}