<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      You are...
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
<!-- <p>wuutlsdlkfjsk {{activities[0].imageUrl}}</p> -->
<div id="dinnerAndActivityContainer">
  <activity-container [data]="activities" ></activity-container>
  <p>while</p>
  <activity-container [data]="foods" ></activity-container>
</div>
