<div id="fullContainer">
  <div>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>
          You are...
        </ion-title>
      </ion-toolbar>
    </ion-header>
    
    <div id="dinnerAndActivityContainer">
      <activity-container [data]="randomActivity" ></activity-container>
      <ion-text color="primary">
        <h3>then...</h3>
      </ion-text>
      <activity-container [data]="randomFood" ></activity-container>
    </div>
  </div>
  <div>
    <p>{{activitiesDataFromDb |  json}}</p>
  </div>
  <div id=reloadButtonContainer>
    <ion-button color="tertiary" ion-button block (click)="onClick()" >Go Again!</ion-button>
  </div>
</div>