ion-content ion-toolbar {
  --background: translucent;
}

#fullContainer {
  padding: 20px;
}

#dinnerAndActivityContainer {

}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

activity-container {
  margin-bottom: 100px;
}

#reloadButtonContainer{
  // text-align: center;
  // display: flex;
  // flex-direction: column;

  position: absolute;
  left: 0;
  right: 0;
  left: 40%;
}

ion-button {
  width: 200px;
  margin: 50px;
  margin-top: 96%
}