ion-content ion-toolbar {
  --background: translucent;
}

#fullContainer {
  padding: 20px;
}

#dinnerAndActivityContainer {
  display: grid;
  width: 300px;
}

ion-text {
  margin-bottom: 20px;
}

h3 {
  width: 100px;
  text-align: center;
}

#reloadButtonContainer{
  text-align: center;
  left: 0;
  right: 0;
}

ion-button {
  width: 200px;
  margin: 50px;
}